<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Расписание</h2>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th class="sch-head">&nbsp;</th>
                <th class="sch-head">Секция 1</th>
                <th class="sch-head">Секция 2</th>
            </tr>
            
            {% for day in site.data.schedule %}
                <tr>
                    <td colspan="3" class="sch-day">{{day.name}}</td>
                </tr>
                {% for schedule in day.schedule %}
                    {% if schedule.tracks == null %}
                        <tr>
                            <td class="sch-time">{{schedule.time}}</td>
                            <td colspan="2" class="sch-name">{{schedule.title}}</td>
                        </tr> 
                    {% else %}
                        <tr>
                            <td class="sch-time">{{schedule.time}}</td>
                            
                           {% for track in schedule.tracks %}
                                <td class="sch-name">    
                                    {{track.title}}{% if track.speaker.name!="" %}- {{track.speaker.name}}{% endif %}{% if track.speaker.bio!="" %}-{{track.speaker.bio}}{% endif %}
                                </td>
                           {% endfor %} 
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>    
    </div>
</section>
