<section id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-heading">Контакты</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="address">
                   База отдыха "Дубровка", Саратовская область, Энгельсский район, ул. Лесокомбинатская, 18 квартал, 1 выдел 
                </div>
                <div class="address-title">
                    Телефон:
                </div>
                <div class="address">
                    <a href="tel:89271209970">+7 927 120 99 70</a>
                </div>
                <div class="address-title">
                    Email:
                </div>
                <div class="address">
                    <a href="mailto:info@youcon.ru">info@youcon.ru</a>
                </div>
            </div>
        </div>
    </div>

    <div id="map"></div>

</section>
