<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <h2 class="section-heading">Что такое Дюна?</h2>
            </div>
        </div>
        <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/u4NS5pE4YCo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-subheading text-muted">
                    Дюна - это тематический палаточный ИТ-лагерь, который пройдет {{ site.event_date }} года на берегу Волги, на территории базы отдыха "Дубровка" в Энгельсе. На Дюне будет всё, что необходимо для отличных выходных: доклады про технологии, науку и дизайн, спортивные развлечения, вкусная еда, пляж, диджеи, вейк-борд, кикер, шашлыки, кальяны и многое много другое. 
                    А значит это идеальное место для того чтобы провести лучшие ИТ-выходные с коллегами и друзьями. <br/>И помни: все что было на Дюне, остается на Дюне.
                </h3>
            </div>
        </div>
    </div>
</section>
